
@import "assets/styles/_font";
@import "assets/styles/_variables";
@import "assets/styles/_layout";
@import "assets/styles/_common";

*{
    box-sizing: border-box;
}
html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    background-color: #F2F2F2;
}

